@import url("https://fonts.googleapis.com/css?family=Turret+Road:300,400,700&display=swap");

:root {
  --blackColor: 0, 0, 0;
  --imperialPrimerColor: 34, 47, 62;
  --whiteColor: 255, 255, 255;
  --casandoraColor: 254, 202, 87;
  --turretRoadFont: "Turret Road", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: normal;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  background-color: rgb(var(--imperialPrimerColor));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(var(--whiteColor));
  font-family: var(--turretRoadFont), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  min-height: 100vh;
  padding: 20px 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1em;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.app-wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.student {
  box-shadow: 0 0 10px 2px rgba(var(--blackColor), 0.5);
  border: 1px solid rgb(var(--whiteColor));
  border-radius: 4px;
  padding: 10px 20px;
  background-color: rgba(var(--blackColor), 0.15);
}

.student + .student {
  margin-top: 1em;
}

.student h3 {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

.student p {
  font-weight: 400;
  font-size: 0.9em;
}

.student span {
  font-weight: 300;
  font-size: 0.7em;
  text-transform: uppercase;
}

.form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 30px;
  background-color: rgba(var(--blackColor), 0.15);
}

.form .label {
  flex: 1;
  margin-right: 30px;
}

.form .input {
  transition: box-shadow 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  border-radius: 4px;
  height: 60px;
  font-weight: 300;
  font-size: 1em;
  padding: 0 20px;
  width: 100%;
}

.form .input:focus {
  box-shadow: 0 0 10px 2px rgba(var(--casandoraColor), 0.75);
  outline: 0;
}

.button {
  border-radius: 4px;
  padding: 0 20px;
  font-size: 1em;
  height: 60px;
  text-transform: uppercase;
}
